body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0px;
    margin: 0px
}

div {
    flex: auto;
}

button {
    border: none;
    border-radius: 8px;
    max-width: fit-content;
    padding: 8px 24px;
    text-align: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

    .hero-top, .hero-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .hero-top-left {
        font-size: 24px;
        color: #F9FAF8;
        margin: 0px;
    }

    .hero-top-right {
        display: flex;
        gap: 16px;
        margin: 0px;

    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #e5e7ebd8;
        font-size: 18px;
    }

    .hero-bottom-left {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        flex: initial;
        gap: 8px;
    }

    .hero-main {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: 900;
    }

    .hero-secondary {
        font-size: 18px;
        color: #e5e7ebd8;
    }

    .top-button {
        background-color: #3882F6;
        color: #F9FAF8;
    }

    .hero-bottom {
        gap: 32px;
    }

    .hero-bottom-right {
        width: 300px;
        height: 100%;
        padding: 0px;
        margin: 0px;
        flex: initial;
    }

.info {

}

.quote {
    background-color: #E5E7EB;
}

.call {

}

.footer {
    background-color: #1F2937;
    font-size: 12px;
    color: #e5e7ebd8;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* borders */

div, img, ul {
    brder: solid red;
}