body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div {
    flex: auto;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

    .hero-top, .hero-bottom {
        display: flex;
        justify-content: space-between;
    }

    .hero-bottom-left {
        display: flex;
        flex-direction: column;
    }

    .hero-bottom-right, .hero-bottom-left {
        flex: 0 0 50%;
    }
.info {

}

.quote {
    background-color: #E5E7EB;
}

.call {

}

.footer {
    background-color: #1F2937;
}

/* borders */

div {
    border: solid red;
}