body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: ;
    min-height: 100vh;
    padding: 0px;
    margin: 0px
}

div {
    flex: auto;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

    .hero-top, .hero-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .hero-top-left {
        font-size: 24px;
        color: #F9FAF8;
    }

    .hero-top-right {
        display: flex;
        gap: 16px
    }

    ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #E5E7EB;
        font-size: 18px;
    }

    .hero-bottom-left {
        display: flex;
        flex-direction: column;
    }

    .hero-main {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: 900;
    }

    .hero-secondary {
        font-size: 18px;
        color: #E5E7EB;
    }

    .top-button {
        background-color: #3882F6;
        color: #F9FAF8;
    }

    .hero-bottom-right, .hero-bottom-left {
        flex: 0 1 50%;
    }

    .hero-bottom-right {
        object-fit: cover;
        width: 50%;
        height: 100%;
        padding: 0px;
        margin: 0px
    }
.info {

}

.quote {
    background-color: #E5E7EB;
}

.call {

}

.footer {
    background-color: #1F2937;
}

/* borders */

div, img {
    border: solid red;
}